// black and white
$White: #FFFFFF;                      // 255, 255, 255
$Black: #000000;                      // 0, 0, 0

// yara colors
$YaraBlue: #00205B;                   // 0, 32, 91
$YaraMidBlue: #2777B8;                // 39, 119, 184
$YaraBrightBlue: #63B6E6;             // 99, 182, 230
$YaraOrange: #FF8228;                 // 255, 130, 40
$YaraYellow: #FFCF01;                 // 255, 207, 1
$YaraDarkGreen: #507A07;              // 80, 122, 7
$YaraMidGreen: #C2CC23;               // 194, 204, 35
$YaraPaleGreen: #E2E477;              // 226, 228, 119
$YaraDarkGray: #5A4E45;               // 90, 78, 69
$YaraDeepGray: #8E8277;               // 142, 130, 119
$YaraMidGray: #D8D0C7;                // 216, 208, 199
$YaraPaleGray: #EFE9E5;               // 239, 233, 229
$YaraPaleBlueGray: #D9E1E2;           // 217, 225, 226
$YaraPink: #E40046;                   // 192 C
$YaraPurple: #AD1AAC;                 // 253 C
$YaraRed: #EF3340;                    // Red 032 C

// yara background colors
$BackgroundPrimary: #F3F6F9;          // 243, 246, 249
$BackgroundPrimaryDarker: #E9EFF4;    // 233, 239, 244
$BackgroundSecondary: #F2EFEC;        // 242, 239, 236
$BackgroundSecondaryDarker: #ECE8E4;  // 236, 232, 228

// topfix
$topfix: calc(60px + 25px);
